.hero_title {
  font-size: 88px;
  text-transform: capitalize;
  margin-bottom: 10px;
  line-height: 1.135;
}
.hero_title span {
  display: inline-block;
  position: relative;
  color: rgb(84,132,255);
}
.banner {
  padding: 250px 0px 100px 0px;
  background-image: url('/images/home/hero_bg_3.png');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  display: flex;
}
 .hero_text {
  font-size: 20px;
  font-weight: 500;
  max-width: 600px;
  color: #737887;
  line-height: 1.75;
  margin-bottom: 43px;
}